* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}



html {
    scroll-behavior: smooth;
}


nav {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 10px 0 10px;
   background: transparent;
   
    position: fixed;
    width: 100%;
    
}

.head {
    color: white;
    
}

.suitcase {
    font-size: 15px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

.nav-menu li a {
    margin-left: 20px;
    color: white;
    font-size: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
}
.nav-menu li a:hover {
    background-color: var(--White);
        color: black;
        transition: 0.3s;
}

a {
    text-decoration: none;
}


.first {
   display: flex;
   justify-content: space-between;
   justify-content: center;
   background: #7b37dc;
   height: 100vh;
   width: 100%;

}
.greeting{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3), 5px 5px 70px rgba(255,255,255,0.5);
    
    
}

.box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid #c06dff;
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 70%;
    left: 42%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top:60% ;
    left: 80% ;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top:32% ;
    left: 25% ;
    animation: animate 16s linear infinite;
}

@keyframes animate {
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.wo {
    font-size: 200px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
    
}

.hire {
    text-decoration: underline;
      
}

.space {
    padding-bottom: 5px;
    color: white;
    
}

h6 a {
    font-size: 12px; 
    color: white;

}

.s4 {
    color: white;
    width: 500px;
    font-weight: 100
}

.second {
    background-color: #7041c7;
    height: 100vh;
    background-attachment: scroll;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
   
    align-items: center;
    flex-direction: column;
}

.third{
   background-color: #7041c7;
    height: 100vh;
    width: 100%;
    background-attachment: scroll;
}

.off {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 5px 5px 70px rgba(255, 255, 255, 0.5);
}

.off2{
    font-size: 30px;
}

.about {
    display: flex;
    padding: 60px 100px 0 100px;
    text-align: center;
}

.about p{
    font-size: 15px;
    width: 80%;
    padding-top: 15px;
}

.about h3{
    width: 100px;
   
}

.ab{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.work {
    background-color: #7041c7;
    height: 100vh;
    width: 100%;
    background-attachment: scroll;
}

.fourth {
    background: url(images/Screen\ Capture\ 005\ -\ Social\ proof\ page\ -\ 127.0.0.1.jpg)center center/cover;
    height: 100vh;
    background-attachment: fixed;
    width: 100%;
   
}

.fifth {
    background: url(images/Screen\ Capture\ 003\ -\ sunnyside\ -\ 127.0.0.1.jpg) center center/cover;
    height: 100vh;
    width: 100%;
}

.sixth {
    background: url(images/Screen\ Capture\ 004\ -\ room\ -\ 127.0.0.1.jpg) center center/cover;
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.view {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;

}

/* .view {
    background:white;
    color: black;
    padding: 18px 80px;
    width: 125px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 40px;
    text-decoration: underline #7041c7;
       
} */
.photo {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-items: flex-end;
}


.view a {
    background: white;
        color: black;
        padding: 18px 80px;
        width: 125px;
        margin: 10px auto;
        font-size: 40px;
        text-decoration: underline #7041c7;
        display: flex;
         align-items: center;
        justify-content: flex-end;
        flex-direction: column;
 
}

.seventh {
    background-color: #7041c7;
    height: 100vh;
    width: 100%;
    background-attachment: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        
}

.diff {
    font-size: 50px;
    color: white;
    width: 353px;
}

.diff2 {
    color: white;
    width: 500px;
    padding-top: 15px;
}

.di{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ear {
    font-size: 100px;
    color: white;
}

.brain {
    font-size: 100px;
    color: white;
}

.bulb {
    font-size: 100px;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 50px;

}

.logo h3{
    font-size: 20px;
    padding-top: 20px;
    width: 228px;

}

.lo {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

footer {
    background-color: rgb(18, 18, 18);
    height: 100vh;
    width: 100%;
    color: white;
}

.pic img{
    height: 20vh;
    border-radius: 50%;
    padding-top: 30px;
}

.pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pic p{
    font-size: 13px;
    margin-top: 12px;
}

.questions{
    display: flex;
    flex-direction: column;
    padding-top: 15px;

}

.questions input{
    border: none;
    border-radius: 10px;
    width: 400px;
    height: 40px;
    margin-top: 15px;
}

input{
    text-align: center;
    
}

.questions .txt {
    height: 150px;
}

.send {
    background: #7041c7;
    padding: 10px 0 10px 0;
    width: 400px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
    font-size: 17px;
    border-radius: 10px;
            
}

.sendtxt {
    color: white;
}
   
.social-icon {
    padding-top: 40px;
}
       
.facebook {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: #7041c7
    
}
    
.facebook:hover {
    color: var(--White);
    transition: 0.3s;
}
    
.instagram {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: #7041c7
    
}
    
.instagram:hover {
    color: var(--White);
    transition: 0.3s;
}
    
.twitter {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: #7041c7
    
}
    
.twitter:hover {
    color: var(--White);
    transition: 0.3s;
}
    
.google {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: #7041c7
    
}
    
.google:hover {
    color: var(--White);
    transition: 0.3s;
}

@media (max-width: 640px) {

    html {
        max-width: 100%;
        
    }

    nav {
        width: 100%;
        

    }
    nav li a {
        /* display: none; */
        
    }
    
    .first {
        width: 100%;
        height: 70vh;
        display: flex;
            justify-content: center;
            align-items: center;
    }
    /* .first div {
        display: none;
    } */
    
    
    .greeting{
        font-size: 70px;

       
    }
    .third h2 {
        font-size: 50px;
    }
    .off{
        font-size: 50px;
    }

    .about {
        flex-direction: column;

    }
    .ab {
        padding-bottom: 80px;
    }
    .second {
        width: 100%;
        /* height: fit-content; */
    }
    .s4 {
        width: 100%;
        padding: 0 50px;
    }
    .third {
        height: fit-content;
        width: 100%;
    }
    .off {
        width: 100%;
        font-size: 60px;
    }
    .off2 {
        font-size: 30px;
    }
    .work {
        width: 100%;
        height: fit-content;
        padding-top: 50px;
        padding-bottom: 150px;

    }
    .fourth {
        /* display: none; */
        background-image: url(images/WhatsApp\ Image1\ 2023-04-23\ at\ 12.53.43\ PM.png);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        width: 100%;

    }
    
    .fifth{
        /* display: none; */
        background-image: url(images/WhatsApp\ Image2\ 2023-04-23\ at\ 12.53.43\ PM.png);
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .sixth{
        /* display: none; */
        background-image: url(images/WhatsApp\ Image3\ 2023-04-23\ at\ 12.53.43\ PM.png);
        background-size: cover;
        background-position: center;
        background-attachment: scroll ;
        width: 100%;
    }
    .seventh {
        height: fit-content;

    }
    .di {
        width: fit-content;
        
       
    }
    .diff{
        width: 100%;
        padding: 15px 0 15px 15px;
        ;
    }
    .diff2{
        width: 100%;
        padding: 0 50px;
    }
    .lo {
        padding-bottom: 100px;

    }
    .logo {
        flex-direction: column;
        height: fit-content;
       
        width: 100%;
    }
    footer {
       height: fit-content;
       

    }
    /* .questions input {
        width: 100%;
    } */
    input {
        width: 100%;
    }
    
    .send {
        width: 100%;
    }
    .photo {
        width: 100%;
    }
    .pic h2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .social-icon{
        padding-bottom: 17px;
    }


}
    

